.video-card {
  max-width: 360px;
  transition: transform .2s;
  cursor: pointer;
}

.video-card mat-card-header, mat-card-content {
  padding: 16px;
}

.video-card mat-card-content {
  text-align: right;
}

.video-card:hover {
  transform: scale(1.05);
}